/*-----------------------------*/
/* REUSED STYLE FOR About*/
/*-----------------------------*/


article {
    background: var(--eerie-black-2);
    border: 1px solid var(--jet);
    border-radius: 20px;
    padding: 15px;
    box-shadow: var(--shadow-1);
    z-index: 1;
    display: none;
}

article.active {
    display: block;
    animation: fade 0.5s ease backwards;
}

@keyframes fade {
    0% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
}

/*This h2 styling for nexted components too */
.h2,
.h3,
.h4,
.h5 {
    color: var(--white-2);
    text-transform: capitalize;
}

.h2 {
    font-size: var(--fs-1);
}

.h3 {
    font-size: var(--fs-2);
}

.h4 {
    font-size: var(--fs-4);
}

.h5 {
    font-size: var(--fs-7);
    font-weight: var(--fw-500);
}

.article-title {
    position: relative;
    padding-bottom: 7px;

}

.article-title::after {
    content: "";
    position: absolute;
    bottom: 0;
    left: 0;
    width: 30px;
    height: 3px;
    background: var(--text-gradient-yellow);
    border-radius: 3px;
}

.about .article-title {
    margin-bottom: 15px;
}




@media (min-width: 580px) {
    article {
        width: 520px;
        margin-inline: auto;
        padding: 30px;
    }

    .article-title {
        font-weight: var(--fw-600);
        padding-bottom: 15px;
    }

    .article-title::after {
        width: 40px;
        height: 5px;
    }

    .about .article-title {
        margin-bottom: 20px;
    }

    .about-text {
        margin-bottom: 40px;
    }
}


@media (min-width: 768px) {

    /**
     * REUSED STYLE
     */

    article {
        width: 700px;
    }

}


@media (min-width: 1024px) {
    article {
        width: 950px;
        box-shadow: var(--shadow-5);
    }
   
}

@media (min-width: 1250px) {

    article { width: auto; 

    }

    article { min-height: 100%; 
    }
}
