/* Navbar */
.navbar {
  background-color: #fff;
  padding: 20px;
  border-radius: 20px 20px 0 0;
  box-shadow: var(--shadow-5);
  position: sticky;
  top: 0;
  z-index: 10;
}

.navbar-list {
  display: flex;
  gap: 20px;
}

.navbar-link {
  text-decoration: none;
  font-weight: var(--fw-500);
  color: #333;
  font-size: var(--fs-5);
  transition: var(--transition-1);
}

.navbar-link:hover {
  color: var(--orange-yellow-crayola);
}
